<!DOCTYPE html>
<html  >
<head>
  <meta name="toTop" content="true">
  <meta charset="UTF-8">
  <title>First page</title>

  <!--Vue source-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!--axios source-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

  <!--Search box style-->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="./css/search_box_style.css">

  <link rel="stylesheet" href="css/index.css">

  <link rel="stylesheet" href="css/tastySelect.css">

</head>
<body>

  <div id="app-vue">
    <div style="text-align:center; margin-top: 30px;">
      <img src="./img/fengmian.png"  height="250" >
    </div>

    <!--Search box-->
    <div class="search-box" style="z-index:999">
      <input type="search" placeholder="Search here..." v-model="user_input"/>
      <button type="submit" class="search-btn" @click="GetUserInput()"><i class="fa fa-search"></i></button>
    </div>

    <!--Advanced search-->
    <div class="advanced-search">
      <div class="as-title">
        ADVANCED SEARCH
      </div>
      
      <div class="background">
        <div class="content">
          <div class="source">
            <span>Source : </span>
            <ul class="styling">
              <li><input type="radio" data-class='jelly' name="styling" id="r1" v-model="video_source" value="all"><label for="r1">All</label></li>
              <li><input type="radio" data-class='future' name="styling" id="r2" v-model="video_source" value="youtube"><label for="r2">Youtube</label></li>
              <li><input type="radio" data-class='future' name="styling" id="r3" v-model="video_source" value="tiktok"><label for="r3">TikTok</label></li>
              <li><input type="radio" data-class='future' name="styling" id="r4" v-model="video_source" value="bilibili"><label for="r4">BiliBili</label></li>
            </ul>
          </div>
          <div class="sort-method">
            <span>Sort Method : </span>
            <ul class="styling1">
              <li><input type="radio" data-class='jelly' name="styling1" id="r11" v-model="sort_by" value="likeCount"><label for="r11">Through like</label></li>
              <li><input type="radio" data-class='future' name="styling1" id="r22" v-model="sort_by" value="published"><label for="r22">Through date</label></li>
              <li><input type="radio" data-class='future' name="styling1" id="r33" v-model="sort_by" value="viewCount"><label for="r33">Through view</label></li>
            </ul>
          </div>
          <div class="released-date">
            <span>Released Date :</span>
            <input type="text" placeholder="From Year" v-model='video_from_date'>
            <input type="text" placeholder="To Year" v-model='video_to_date'>
          </div>
          
          <div class="like">
            <span>The least like :</span>
            <input type="text" placeholder="Like count" v-model='least_like_count'>
          </div>
          
          <div class="view">
            <span>The least view :</span>
            <input type="text" placeholder="View count" v-model='least_view_count'>
          </div>
          
        </div>
      </div>
        
    </div>


    <!--Search Result-->
    <div id="wall">
      <div class="search-statu" id="result_point">
          <span>Search Results</span>
      </div>
    </div>

    
    <ul style="list-style: none;">
      <li v-for="(elem,index) in video_list.slice(0,number_of_show)">
        <div class="result">
          <div class="content1">
              <img :src="elem.thumbnails" height="150">   
          </div>
          <div class="content2">
            <div class="search-item">
                  <div class="item-title">
                      <h3>
                          <a :href="elem.videoLink" >
                              {{ elem.title }}
                          </a>
                      </h3>
                  </div>
                  <div class="item-list">
                    {{ elem.description }}
                  </div>
                  <div class="item-bar">
                    <span>Views：<b>{{ elem.viewCount }}</b></span>
                    <span>Like：<b>{{ elem.likeCount }}</b></span>
                  </div>
                  <div class="item-bar">
                    Author: <span class="cpill fileType1">{{ elem.channelTitle }}</span>
                      <span>Published Time: <b>{{ elem.published }}</b></span>
                      Source：<span><b class="cpill yellow-pill">{{ elem.source }}</b></span>
                  </div>
              </div>
          </div>
        </div>
        <div class="blank-space"></div>
      </li>
     
    </ul>

    <!--View more buttom-->
    <div class="view-more" v-if='show_view_more'>
      <button class="view-more" @click="AddShowNumber()" >view more</button>
    </div>

    <!----------- Template ------------------------------------------------------------------------------->
     <!-- <div>
      <div class="result">
        <div class="content1">
            <img src="./img/bingbing.png" height="120">   
        </div>
        <div class="content2">
          <div class="search-item">
                <div class="item-title">
                    <h3>
                        <a href="https://www.bilibili.com/video/BV1vy4y1i7bS?from=search&seid=5115053688110447257" >
                            【冰冰vlog.001】带大家看看每个冬天我必去的地方
                        </a>
                    </h3>
                </div>
                <div class="item-list">
                    大家好，我是王冰冰，真以为我不上B站么
                </div>
                <div class="item-bar">
                  <span>播放量：<b>1663.7M</b></span>
                  <span>点赞量：<b>100.6M</b></span>
                </div>
                <div class="item-bar">
                  作者：<span class="cpill fileType1">吃花椒的喵酱</span>
                    <span>发布时间： <b>2020-12-31 03:30:01</b></span>
                    来源：<span><b class="cpill yellow-pill">BiliBili</b></span>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="blank-space"></div>  -->
    <!------------------------------------------------------------------------------------------>

    <!--Footer-->
    <div class="footer"></div>
  </div>

<!--VUE script--------------------------------------------->
<script src="./js/app.js"></script>

<!--Background---------------------------------------------------------------------------->

<!--Background---------------------------------------------------------------------------->

<!--Back to top-->
<script src="http://www.jq22.com/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="js/toTop.js"></script>

</body>
</html>
