<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <!--Vue source-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--axios source-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container" id="app-vue">
        <div class="logo" style="background-image: url(img/baidu.png)"></div>
        <div class="input">
            <input type="text" placeholder="Please enter search keywords" autocomplete="off" id="search-input" v-model="user_input" @keyup.enter="GetUserInput()">
            <div class="picker">All</div>
            <ul class="picker-list">
                <li data-logo="baidu.png" @click="Allsource">All</li>
                <li style="background-image: url(img/ico_BiliBili.png)" data-logo="baidu.png" @click="BiliBiliSource">BiliBili</li>
                <li style="background-image: url(img/ico_Tiktok.png)" data-logo="baidu.png" @click="TiktokSouce">Tiktok</li>
                <li style="background-image: url(img/ico_YouTube.jpg)" data-logo="baidu.png" @click="YoutubeSouce">Youtube</li>
            </ul>
        </div>
        <div class="search" @click="GetUserInput()"></div>
        <div class="info-box">
            <ul>
                <span>Guess you would like:</span>
                <li><a href="{% url 'app:search' %}?q=喜剧之王">喜剧之王</a></li>
                <li><a href="{% url 'app:search' %}?q=泰坦尼克号">泰坦尼克号</a></li>
                <li><a href="{% url 'app:search' %}?q=肖申克的救赎">肖申克的救赎</a></li>
                <li><a href="{% url 'app:search' %}?q=一路向西">一路向西</a></li>
            </ul>
        </div>
        <ul>
            <li v-for="elem in video_list">
                <img :src="elem.url">
                {{ elem.title }}
            </li>
        </ul>
    </div>

<!--js script-->
<!--VUE script-->
<script src="js/app.js"></script>

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
    $(function () {
        helangSearch.init();
    })
</script>
</body>
</html>