<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>

    <!--Vue source-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--axios source-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="search_page">
        <div class="header-div">
            <form class="search-form">
                <a href="/" title="搜索" class="fl">
                    <img src="./img/ico_baidu.png" alt="搜索" class="nav-logo"></a>
                <input type="text" id="search" title="Search"
                       autocomplete="off" name="q" placeholder="Please enter search keywords" class="fl mt25">
                <input style="line-height:32px;" type="submit" id="btnSearch" value="Search" class=" blue fl mt25" @click="GetUserInput">
            </form>
        </div>
        <div id="sort-bar">
            <a href="" rel="nofollow">发布时间</a>
            <a href="" rel="nofollow">播放量</a>
            <a href="" rel="nofollow">平台</a>
        </div>
        <div id="wall">
            <div class="search-statu">
                <span>大约????条结果，耗时????秒。</span>
            </div>
        </div>
        <!-- <ul>
            <li>
                123456
            </li>
            <li v-for="elem in video_list">
                <img :src="elem.url">
                {{ elem.title }}
            </li>
        </ul> -->

        <ul style="list-style: none;">
            <li v-for="elem in video_list">
                <div>
                    <div class="col-md-2">
                        <div class="content1">
                            <img :src="elem.thumbnails" height="100">   
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="search-item">
                            <div class="content2">
                                <div class="item-title">
                                    <h3>
                                        <a href="https://www.bilibili.com/video/BV1vy4y1i7bS?from=search&seid=5115053688110447257" >
                                            {{ elem.title }}
                                        </a>
                                    </h3>
                                </div>
                                <div class="item-list">
                                    {{ elem.description }}
                                </div>
                                <div class="item-bar">
                                    <span class="cpill fileType1">{{ elem.channelTitle }}</span>
                                    <span>发布时间： <b>{{ elem.published }}</b></span>
                                    <span><b class="cpill yellow-pill">BiliBili</b></span>
                                    <span>播放量：<b>{{ elem.viewCount }}</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>



<!--js script-->
<!--VUE script-->
<script src="js/second.js"></script>
    
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
    $(function () {
        helangSearch.init();
    })
</script>
</body>
</html>